h1 {
  color: darkblue;
  text-align: center;
}
h2 {
  color: darkblue;
  font-style: inherit;
  text-align: left;
}
p {
  font-family: "Times New Roman", Times, serif;
  float: center;
}
body {
  background-color: silver;
}
#images-box {
  display: flex;
  justify-content: space-evenly;
  margin: 1px;
}
#image-item {
  max-width: 300px;
  width: 30%;
  background-color: lightblue;
}
.column {
  width: 350px;
  float: left;
}
#images-box {
  border-left: 20px solid lightblue;
  border-right: 20px solid lightblue;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  padding: 30px;
  margin: 5px;
  background-color: lightblue;
}
#title-box {
  border-left: 40px solid red;
  border-right: 40px solid red;
  border-top: 4px solid black;
  border-bottom: 8px solid black;
  padding: 3px;
  margin: 50px;
  width: 1000px;
}
